jupyter==1.0.0
jupyter-client==6.0.0
jupyter-core==4.6.3
jupyter_console==6.0.0
jupyterlab==1.0.2
jupyterlab_server==1.0.0
notebook==6.0.3
qtconsole==4.5.1
ipykernel==5.5.0
ipython==7.6.1
nbconvert==5.5.0
ipywidgets==7.5.0
nbformat==4.4.0
traitlets==4.3.2
numpy==1.20.1
pandas==1.2.2
matplotlib==3.3.1
seaborn==0.10.1
xgboost==1.2.0
scipy==1.5.2
sklearn==0.23.2
feature_engine==1.0.0
pickle==4.0
virtualenv==20.4.2
pytest==5.0.1
